@import "tailwindcss";

@theme {
  --color-settings-bg-1: #24222a;
  --color-settings-bg-2: #302e38;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clip-slant {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}

.ui-cursor * {
  cursor: url(/arrow.png), auto;
}

.ui-cursor {
  cursor: url(/arrow.png), auto;
}

.torus-pro-normal {
  font-family: 'TorusPro', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TorusPro';
  src: url('/fonts/torus pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pencil Child";
  src: url("/fonts/Pencil Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.pencil-child {
  font-family: "Pencil Child";
}
